@import 'variables';
@import 'mixins';

input, textarea {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid lighten($black, 60);
  background: none;
  /*letter-spacing: -0.2px;*/
  outline: 0;
  margin: 0.5em 0 0 0;
  padding: 0 0 .4em;
  /*font-weight: 600;*/
  &:focus {
    border-color: $petrol;
  }

  &.catchy {
    background-color: $creme;
    border: none;
    border: 1px dashed $lightGray;
    padding: .5em;
    /*box-shadow: 0 0 5px $lightGray;*/
  }
}

input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin-right: 1em;
  width: 1em;
  height: 1em;
}

label {
  @include label();
}

@include placeholder {
  color: $black;
  font-size: 1em;
  /*font-style: italic;*/
}