@import 'variables';
@import 'mixins';

input, textarea {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-family: inherit;
  // border: none;
  border: 1px solid $gray;
  background: none;
  /*letter-spacing: -0.2px;*/
  outline: 0;
  margin: .2em 0 0 0;
  padding: .6em;
  /*font-weight: 600;*/
  &:focus {
    border-color: $blue;
  }
}

input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin-right: 1em;
  width: 1em;
  height: 1em;
}

label {
  @include label();
}

@include placeholder {
  color: $gray;
  font-size: .7em;
}