@import url('https://rsms.me/inter/inter-ui.css');
@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'forms';

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  line-height: 170%;
  font-size: 16px;
  background-color: $white;
}

.content {
  padding: 4vh 8vw 4vh 8vw;
}

h1 {
  font-size: 1.3rem;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  border-bottom: .2em solid $black;
}

section {
  padding: 1rem 2rem;

  h2 {
    @include label;
  }
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}