@mixin label() {
  display: block;
  font-size: 1rem;
  text-align: left;
  display: block;
    text-transform: uppercase;

  color: $lightGray;
  margin-top: 0;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}