/* put variables here */
$black: #333333;
$white: #FBFBFB;
$creme: #f1f1f1;
$blue: #2790E8;
$petrol: #088a87;
$lightGray: #d2d2d2;
$gray: #b5b5b5;
$darkGray: #878787;
$orange: #e4b101;
$green: #46a274;
$light-green: #a6dda2;
$red: #ef8383;

$header-height: 3.5em;
$z-index-overlay: 1000;
